In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('https://rarrazaan.github.io/mobil.xls')

In [3]:
print("Input(ukuran, kenyamanan, irit, kecepatan):")
si, co, ec, sp = map(int, input().split())
pr = float(input("Harga: "))
data = {'Ukuran': [si], 'Kenyamanan': [co], 'Irit' : [ec], 'Kecepatan' : [sp], 'Harga (Ratus Juta)' : [pr]}
inp = pd.DataFrame(data)
inp.head()

Input(ukuran, kenyamanan, irit, kecepatan):

 4 5 6 7
Harga:  8

   Ukuran  Kenyamanan  Irit  Kecepatan  Harga (Ratus Juta)
0       4           5     6          7                 8.0

In [4]:
# Euclidean distance 
def distance(data1, data2):
    size1 = data1.get('Ukuran')
    comfort1 = data1.get('Kenyamanan')
    eco1 = data1.get('Irit')
    speed1 = data1.get('Kecepatan')
    price1 = data1.get('Harga (Ratus Juta)')

    size2 = data2.get('Ukuran')
    comfort2 = data2.get('Kenyamanan')
    eco2 = data2.get('Irit')
    speed2 = data2.get('Kecepatan')
    price2 = data2.get('Harga (Ratus Juta)')
    
    jarak = ((size1 - size2)**2 + (comfort1 - comfort2)**2 + (eco1 - eco2)**2 + (speed1 - speed2)**2 + (price1 - price2)**2)**0.5

    return jarak

def kNN(k):
    ans = []
    har = []
    for i in range(len(inp)):
        list_jarak = []
        for j in range(len(df)):
            pair = (distance(inp.iloc[i], df.iloc[j]), j)
            list_jarak.append(pair)
            
        list_jarak.sort()
        #print(list_jarak)
    
    for j in range(k):
        neighbour_index = list_jarak[j][1]
        ans.append(df.iloc[neighbour_index]['Nama Mobil'])
        har.append(df.iloc[neighbour_index]['Harga (Ratus Juta)'])
    return ans, har


euc, euchar = kNN(3)

In [5]:
receu = {'Nama Mobil' : [i for i in euc], 'Harga' : [str(int(round(j*100))) +' Juta' for j in euchar]}
euclidean  = pd.DataFrame(receu)

In [6]:
#Manhattan distance
def distance(data1, data2):
    size1 = data1.get('Ukuran')
    comfort1 = data1.get('Kenyamanan')
    eco1 = data1.get('Irit')
    speed1 = data1.get('Kecepatan')
    price1 = data1.get('Harga (Ratus Juta)')

    size2 = data2.get('Ukuran')
    comfort2 = data2.get('Kenyamanan')
    eco2 = data2.get('Irit')
    speed2 = data2.get('Kecepatan')
    price2 = data2.get('Harga (Ratus Juta)')    
    jarak = (abs(size1 - size2) + abs(comfort1 - comfort2) + abs(eco1 - eco2) + abs(speed1 - speed2) + abs(price1 - price2))

    return jarak

def kNN(k):
    ans = []
    har = []
    for i in range(len(inp)):
        list_jarak = []
        for j in range(len(df)):
            pair = (distance(inp.iloc[i], df.iloc[j]), j)
            list_jarak.append(pair) 
            
        list_jarak.sort()
        #print(list_jarak)
    
    for j in range(k):
        neighbour_index = list_jarak[j][1]
        ans.append(df.iloc[neighbour_index]['Nama Mobil'])
        har.append(df.iloc[neighbour_index]['Harga (Ratus Juta)'])
    return ans, har

man, manhar = kNN(3)

In [7]:
recman = {'Nama Mobil' : [i for i in man], 'Harga' : [str(int(round(j*100))) +' Juta' for j in manhar]}
manhattan  = pd.DataFrame(recman)

In [8]:
#Minkowski distance
def distance(data1, data2):
    size1 = data1.get('Ukuran')
    comfort1 = data1.get('Kenyamanan')
    eco1 = data1.get('Irit')
    speed1 = data1.get('Kecepatan')
    price1 = data1.get('Harga (Ratus Juta)')

    size2 = data2.get('Ukuran')
    comfort2 = data2.get('Kenyamanan')
    eco2 = data2.get('Irit')
    speed2 = data2.get('Kecepatan')
    price2 = data2.get('Harga (Ratus Juta)')    
    p = 1.5
    jarakeu = (abs(size1 - size2)**p + abs(comfort1 - comfort2)**p + abs(eco1 - eco2)**p + abs(speed1 - speed2)**p + abs(price1 - price2)**p)**1/p

    return jarakeu

def kNN(k):
    ans = []
    har = []
    for i in range(len(inp)):
        list_jarak = []
        for j in range(len(df)):
            pair = (distance(inp.iloc[i], df.iloc[j]), j)
            list_jarak.append(pair)
            
        list_jarak.sort()
        #print(list_jarak)
    
    for j in range(k):
        neighbour_index = list_jarak[j][1]
        ans.append(df.iloc[neighbour_index]['Nama Mobil'])
        har.append(df.iloc[neighbour_index]['Harga (Ratus Juta)'])
    return ans, har

mink, minkhar = kNN(3)

In [9]:
recmin = {'Nama Mobil' : [i for i in mink], 'Harga' : [str(int(round(j*100))) +' Juta' for j in minkhar]}
minkowski  = pd.DataFrame(recmin)

In [10]:
#Supremum distance
def distance(data1, data2):
    size1 = data1.get('Ukuran')
    comfort1 = data1.get('Kenyamanan')
    eco1 = data1.get('Irit')
    speed1 = data1.get('Kecepatan')
    price1 = data1.get('Harga (Ratus Juta)')

    size2 = data2.get('Ukuran')
    comfort2 = data2.get('Kenyamanan')
    eco2 = data2.get('Irit')
    speed2 = data2.get('Kecepatan')
    price2 = data2.get('Harga (Ratus Juta)')    
    jarakeu = max(abs(size1 - size2), abs(comfort1 - comfort2), abs(eco1 - eco2), abs(speed1 - speed2), abs(price1 - price2))

    return jarakeu

def kNN(k):
    ans = []
    har = []
    for i in range(len(inp)):
        list_jarak = []
        for j in range(len(df)):
            pair = (distance(inp.iloc[i], df.iloc[j]), j)
            list_jarak.append(pair)
            
        list_jarak.sort()
        #print(list_jarak)
    
    for j in range(k):
        neighbour_index = list_jarak[j][1]
        ans.append(df.iloc[neighbour_index]['Nama Mobil'])
        har.append(df.iloc[neighbour_index]['Harga (Ratus Juta)'])
    return ans, har

sup, suphar = kNN(3)

In [11]:
recsup = {'Nama Mobil' : [i for i in sup], 'Harga' : [str(int(round(j*100))) +' Juta' for j in suphar]}
supremum  = pd.DataFrame(recsup)

In [12]:
writer = pd.ExcelWriter('rekomendasi.xls', engine='xlsxwriter')
euclidean.to_excel(writer, index=False, sheet_name='Euclidean')
manhattan.to_excel(writer, index=False, sheet_name='Manhattan')
minkowski.to_excel(writer, index=False, sheet_name='Minkowski')
supremum.to_excel(writer, index=False, sheet_name='Supremum')
writer.save()